<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 기존 설정 -->
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.hibernate.type" level="ERROR"/>
    <logger name="org.hibernate.type.BasicTypeRegistry" level="OFF"/>

    <!-- 새로 추가된 설정 -->
    <logger name="org.hibernate.type.spi.TypeConfiguration$Scope" level="OFF"/>
    <logger name="org.flywaydb.core" level="WARN"/>
    <logger name="org.hibernate.type.descriptor.jdbc.spi.JdbcTypeRegistry" level="OFF"/>

    <logger name="org.springframework" level="WARN"/>
    <logger name="com.SniffStep" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>